@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'kalameh';
}
@font-face {
  font-family: "kalameh";
  src: url("../src/assets/Kalameh-Medium.ttf");
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
